{% extends 'base2.html' %}

{% block content %}

<div class="content" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

    <form action="/custom" method="post" >
        <div class="row">
            <div class="card" style="width: 18rem;margin-left:2rem;">
                <img class="card-img-top" style="width:18rem;height:10rem;"
                    src="https://i.ibb.co/2PQJGLn/Untitled-design-1.png" alt="Card image cap">
                <div class="card-body">
                    <center>
                        <p class="card-text">Finger up Command</p>
                        <input style="text-align: center;width:15rem;" id="emergency"
                            placeholder="Enter an emergency message" name="first">
                    </center>
                </div>
            </div>
            <div class="card" style="width: 18rem;margin-left: 2rem;">
                <img class="card-img-top" style="width:18rem;height:10rem;"
                    src="https://i.ibb.co/XYZG1Kb/Untitled-design.png" alt="Card image cap">
                <div class="card-body">
                    <center>
                        <p class="card-text">Finger Down Command</p>
                        <input style="text-align: center;" placeholder="Enter a command" name="second">
                    </center>
                </div>
            </div>
        </div>
        <button style="text-align:center;align-items:center;margin-left: 17rem;" type="submit">Submit</button>
    </form>

    <div class="card" style="margin-top:2rem;margin-left:0rem;">
        <h2 class="card-header">
            Instructions
        </h2>
        <div class="card-body">
            <h3 class="card-title">Finger Up Command</h3>
            <p class="card-text">This command is used to approach the nearby emergency services. Type a
                custom command to trigger a custom mail to nearby healthcare facilities with custom text
                when patient holds finger up</p>
            <h3 class="card-title">Finger Down Command</h3>
            <p class="card-text">This command is used to approach the nearby family members in case the patient needs
                help. Type a custom command to trigger a custom mail to family member with custom text when patient
                holds finger down</p>
        </div>
    </div>
</div>

{% endblock %}