{% extends 'base2.html' %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Live Values</h5>
              <h2 class="card-title">ECG DISPLAY</h2>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">ECG</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Oxygen Levels</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Gesture Count</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartBig1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">

        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLinePurple"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-body">
        <div id="here0">
          <center>
            <h1>{{ Data }}</h1>
          </center>
        </div>
        <a href="https://emotion-detection-nine.vercel.app/" target="_blank"><button type="button"
            class="btn btn-success"
            style="align-items: center; justify-content: center; margin-left: 15%;margin-top: 26%;">Live Emotion
            Detection</button></a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">

        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineGreen"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="container" style="border: 5px solid #E14ECA;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align:center;
            padding-top:5%;">
        <div id="here1">
          <h1>Temperature: {{ temperature }}</h1>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-12">
      <div class="container" style="border: 5px solid #E14ECA;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align:center;
            padding-top:5%;">
        <div class="container" id="here2">
          <h1>Pulse: {{ oxygen[0] }}</h1>
        </div>

      </div>

    </div>
    <div class="col-lg-4 col-md-12">
      <div class="container" style="border: 5px solid #E14ECA;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align:center;
            padding-top:5%;">
        <div class="container" id="here3">
          <h1>SPo2: {{ oxygen[1] }}</h1>
        </div>

      </div>

    </div>
  </div>
</div>


{% endblock %}