{% extends 'base1.html' %}

{% block content %}

    <header class="hero">
        <div class="hero__wave"></div>
        <section class="hero__main container">
            <img src="{{ url_for('static', filename='/img/main centre logo.png') }}" class="hero__img">

            <h1 class="hero__title">Redefining accessibility for paralyzed patients</h1>
            <p class="hero__paragraph">The SMART GLOVE is designed to help paralyzed patients regain control and perform
                daily tasks more independently. With its built-in sensors, the glove measures the physiologoical
                parameters of the user. </p>
            <a href="/dashboard" class="hero__cta">
                Get Started
            </a>
        </section>

    </header>

    <main class="main" style="background-color: #181F2A;">
        <section class="about container">

            <article class="about__item">
                <figure class="about__picture">
                    <img src="{{ url_for('static', filename='/img/ECG.svg') }}" class="about__img">
                </figure>

                <h3 class="about__title">ECG signals</h3>

                <p class="about__paragraph"> Know the patients heart rate at your fingertips using ECG sensor.</p>
            </article>

            <article class="about__item">
                <figure class="about__picture">
                    <img src="{{ url_for('static', filename='/img/TEMPERATURE.svg') }}" class="about__img">
                </figure>

                <h3 class="about__title"> Temperature Level </h3>

                <p class="about__paragraph"> Get the Real-time Temperature readings with our easy-to-use temperature
                    sensor.
                </p>
            </article>

            <article class="about__item">
                <figure class="about__picture">
                    <img src="{{ url_for('static', filename='/img/monitoring.svg') }}" class="about__img">
                </figure>

                <h3 class="about__title">Real-time monitoring</h3>

                <p class="about__paragraph">
                    Ensure the safety and well-being of patient with our Real-time monitoring camera.</p>
            </article>

            <article class="about__item">
                <figure class="about__picture">
                    <img src="{{ url_for('static', filename='/img/movement.svg') }}" class="about__img">
                </figure>

                <h3 class="about__title"> Gesture Based Command</Command>
                </h3>

                <p class="about__paragraph"> Empower paralyzed patients to communicate effectively with our gesture
                    based command technology. </p>
            </article>

        </section>

        <section class="productive container">

            <figure class="productive__picture">
                <img src="{{ url_for('static', filename='/img/Doc-image.png') }}" class="productive__img">
            </figure>

            <div class="productive__texts">

                <h3 class="productive__title"> Diagnosis & Monitoring at your fingertips</h3>

                <p class="productive__paragraph"> "Go hassle free with smart glove and avoid the long queue for
                    diagnosis."</p>

                <p class="productive__paragraph"> "The Smart Glove is a wearable device equipped with various sensors to
                    accurately measure and monitor a range of physiological parameters for optimal health."</p>

                <a href="/dashboard" class="productive__cta">
                    See how the SMART GLOVE works
                    <img src="{{ url_for('static', filename='/img/icon-arrow.svg') }}" class="productive__arrow">
                </a>

            </div>
        </section>


        <section class="join">
            <div class="join__container container">
                <h3 class="join__title"> Book It Now
                </h3>
                <p class="join__paragraph"> It only takes a minute to sign up and book the cutting-edge smart glove for
                    your loved ones and lower the burden to monitor physiologoical parameters.</p>

                <form class="join__form">
                    <input type="text" placeholder="johndoe@example.com" class="join__input join__input--text">
                    <input type="submit" value="Get It Now " class="join__input join__input--submit">
                </form>
            </div>
        </section>

    </main>

{% endblock %}